$font-family: 'Indie Flower', cursive;

* {
  margin: 0;
  padding: 0;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .title {
    justify-self: center;
  }
}

.show-categories-container {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 475px;
  width: 650px;
  padding: 20px;
  position: relative;
  top: 25px;
}

.form {
  width: 650px;
  display: flex;
  justify-self: center;
  //flex-direction: column;
  justify-content: space-around;

  input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent !important;
  }

  .radio-container {
    display: flex;
  }
}

.my-custom-scrollbar {
  position: relative;
  height: 100%;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.table {
  tbody {
    font-family: $font-family;
  }
}

.show-categories-label {
  display: flex;
}
